# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
a = 5
b = 5
print("a is b " + str(a is b))

a is b True

In [8]:
id(a)

137003940823408

In [9]:
id(b)

137003940823408

In [10]:
c = 257
d = 257
print("c is b " + str(c is d))

c is b False

Значення чисел в проміжку від -5 до 256 є зарезервованими, тому якщо в нас ситуація, коли змінні посилаються на числа однакові за значенням в цьому проміжку то вони посилаються на один і той самий об'єкт в пам'яті. Якщо числа виходять за цей проміжок то об'єкти в пам'яті вже будуть відрізнятись.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [11]:
x = True

print(isinstance(x, bool))
print(isinstance(x, int))
print(isinstance(x, str))

True
True
False

In [12]:
y = "myString"

print(isinstance(y, bool))
print(isinstance(y, int))
print(isinstance(y, str))

False
False
True

За допомогою функції isinstance()

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [13]:
int_var = 18
float_var = 7.35

# Додавання
print('Додавання')
print(int_var + float_var)
print('#' * 25)

# Віднімання
print('Віднімання')
print(int_var - float_var)
print('#' * 25)

# Ділення
print('Ділення')
print(int_var / float_var)
print('#' * 25)

# Множення
print('Множення')
print(int_var * float_var)
print('#' * 25)

# Ділення без залишку
print('Ділення без залишку')
print(int_var // float_var)
print('#' * 25)

# Ділення по модулю
print('Ділення по модулю')
print(int_var % float_var)
print('#' * 25)

# Приведення до ступення
print('Приведення до ступення')
print(int_var ** float_var)
print('#' * 25)

Додавання
25.35
#########################
Віднімання
10.65
#########################
Ділення
2.4489795918367347
#########################
Множення
132.29999999999998
#########################
Ділення без залишку
2.0
#########################
Ділення по модулю
3.3000000000000007
#########################
Приведення до ступення
1683654256.0225291
#########################

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [14]:
print("Значення змінної з рухомою комою до перетворення: ", float_var)
print("Значення змінної з рухомою комою після перетворення: ", int(float_var))

Значення змінної з рухомою комою до перетворення:  7.35
Значення змінної з рухомою комою після перетворення:  7

In [15]:
bool_var = True

print("Значення змінної булевого типу до перетворення: ", bool_var)
print("Значення змінної булевого типу після перетворення: ", int(bool_var))

Значення змінної булевого типу до перетворення:  True
Значення змінної булевого типу після перетворення:  1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [17]:
# Перший спосіб
empty_string1 = ''
# Другий спосіб
empty_string2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [18]:
str_with_apostrophe = " Цей рядок містить апостроф \' "
print(str_with_apostrophe)

print(f"\n {'#'*40} \n")

raw_str_with_apostrophe = r' Цей сирий рядок також містить апостроф \' '
print(raw_str_with_apostrophe)

 Цей рядок містить апостроф '

 ########################################

 Цей сирий рядок також містить апостроф \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [55]:
surname = "Chernikov"
format_str = f"My surname is {surname}"
print(format_str)

My surname is Chernikov

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [57]:
dog_str_to_list = "My dog is crazy"
dog_list = dog_str_to_list.lower().split()
print(dog_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [58]:
print("Перший спосіб")
list1 = [1, 2, 3]
print(list1)

print()

print("Другий спосіб")
list2 = list((1, 2, 3))
print(list2)

Перший спосіб
[1, 2, 3]

Другий спосіб
[1, 2, 3]

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [25]:
first_list = list(('a', 'b', 'c'))
print(first_list)

second_list = list(('d', 'e', 'f'))

first_list.append(second_list)

print(first_list)

['a', 'b', 'c']
['a', 'b', 'c', ['d', 'e', 'f']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [33]:
list_of_lists = [
    [1, 2, 3], #Перший рядок
    [4, 5, 6], #Другий рядок
    [7, 8, 9]  #Третій рядок
    ]
print(list_of_lists)

first_of_last = list_of_lists[-1][0]
print(first_of_last)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [59]:
multi_type_list = [1, 2.5, 'a', True, (3,4), [5,6], None, {7, 8}, {"company": "Apple", "product": "iPhone"}, range(5)]
print(multi_type_list)

print()

no_2_first_no_2_last = multi_type_list[2:-2]
print(no_2_first_no_2_last)

[1, 2.5, 'a', True, (3, 4), [5, 6], None, {8, 7}, {'company': 'Apple', 'product': 'iPhone'}, range(0, 5)]

['a', True, (3, 4), [5, 6], None, {8, 7}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [39]:
one_element_tuple = ('element',)
print(one_element_tuple)

('element',)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Списки можна змінювати (mutable), кортежі не можна змінювати (immutable), і списки і кортежі можуть містити в собі багато елементів різних типів. Списки використовують коли потрібна структура щоб змінювати об'єкт (додавати або вилучати елементи), кортежі використовують коли потрібна незмінна структура або прискорення виконання коду.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [41]:
eleven_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
print(eleven_tuple)

print('#'*25)

even_index = eleven_tuple[::-2]
print(even_index)

(1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
#########################
(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [43]:
mySet = set()
print(mySet)
mySet.add(1)
mySet.add('two')
mySet.add(3)
print(mySet)

set()
{'two', 1, 3}

Так, множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [44]:
my_list = [1, 1, 2, 67, 67, 8, 9]
print(my_list)

print()

my_set = set(my_list)
print(my_set)

[1, 1, 2, 67, 67, 8, 9]

{1, 2, 67, 8, 9}

Зникли елементи котрі повторюються, бо вони вже входять в цю множину, а множина в свою чергу містить лише унікальні елементи.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [50]:
mySet1 = {1, 2, 3}
mySet2 = {3, 4, 5}

print("Перша множина", mySet1)
print("Друга множина", mySet2)
print()

# обʼєднання
union_set = mySet1.union(mySet2)
print("обʼєднання ",union_set)
print()

# різниця
difference_set = mySet1.difference(mySet2)
print("різниця ",difference_set)
print()

# пересіч
intersection_set = mySet1.intersection(mySet2)
print("пересіч ",intersection_set)
print()

# симетрична різниця
symmetric_difference_set = mySet1.symmetric_difference(mySet2)
print("симетрична різниця ",symmetric_difference_set)

Перша множина {1, 2, 3}
Друга множина {3, 4, 5}

обʼєднання  {1, 2, 3, 4, 5}

різниця  {1, 2}

пересіч  {3}

симетрична різниця  {1, 2, 4, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [53]:
my_dict = {}

my_dict[1] = 'integer'
my_dict['two'] = 'string'
my_dict[(3, 4)] = 'tuple'
my_dict[3.5] = 'float'

print(my_dict)

{1: 'integer', 'two': 'string', (3, 4): 'tuple', 3.5: 'float'}

Список не може бути ключем у словнику, тому що ключі мають бути незмінних (immutable типів)

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [54]:
inner_dict = {'inner_key': 'inner_value'}

outer_dict = {'outer_key': inner_dict}

inner_value = outer_dict['outer_key']['inner_key']
print("Значення у найбільш внутрішньому словнику:", inner_value)

Значення у найбільш внутрішньому словнику: inner_value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.